@import '../constants';
@import '../vars';

.about {
  background-color: $black;
  padding: 120px 0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__text-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 70px;
    line-height: 85px;
    letter-spacing: 0.05em;
    color: $orange;
    margin-bottom: 48px;

    @extend %ubuntu-medium;
  }
  &__text-item {
    color: $white;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    white-space: nowrap;
    padding-right: 48px;
    margin-bottom: 32px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      border-bottom: 2px solid $orange;
      width: 100%;
      top: 32px;
    }
  }
  &__circle {
    width: 320px;
    height: 320px;
    border: 3px solid $orange;
    border-radius: 320px;
    text-align: center;
    color: $white;
  }
  &__info-item:nth-child(odd) {
    margin: 30px 0;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
  }
  &__info-item:nth-child(2) {
    color: $orange;
    font-weight: bold;
    font-size: 100px;
    line-height: 122px;
    letter-spacing: 0.05em;
  }
}

@media (max-width: 980px) {
  .about {
    padding: 100px 0;
    &__text-title {
      font-size: 60px;
      margin-bottom: 32px;
    }
    &__circle {
      width: 240px;
      height: 240px;
      border-radius: 240px;
    }
    &__info-item:nth-child(odd) {
      margin: 12px 0;
    }
    &__info-item:nth-child(2) {
      font-size: 80px;
    }
  }
}

@media (max-width: 900px) {
  .about {
    padding: 40px 0;
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    &__text-title {
      font-size: 45px;
    }
    &__circle {
      width: 240px;
      height: 240px;
      border-radius: 240px;
      margin-top: 25px;
    }
  }
}
@media (max-width: 450px) {
  .about {
    &__text-item {
      white-space: nowrap;
      padding-right: 6px;
      margin-bottom: 22px;
    }
    &__circle {
      width: 140px;
      height: 140px;
      border-radius: 140px;
      margin-top: 12px;
    }
    &__info-item:nth-child(odd) {
      margin: 14px 0;
      font-size: 18px;
    }
    &__info-item:nth-child(2) {
      font-size: 42px;
      line-height: 18px;
    }
  }
}
@media (max-width: 415px) {
  .about {
    padding: 5px 0;
    &__text-title {
      font-size: 38px;
      margin-bottom: 8px;
    }
  }
}
@media (max-width: 375px) {
  .about {
    &__text-item {
      letter-spacing: 0em;
    }
  }
}
@media (max-width: 325px) {
  .about {
    &__text-item {
      padding-right: 2px;
      margin-bottom: 22px;
      font-size: 16px;
    }
  }
}
