@import '../constants';
@import '../vars';

.about {
  background-color: $black;
  padding: 120px 0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__text-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 70px;
    line-height: 85px;
    letter-spacing: 0.05em;
    color: $orange;
    margin-bottom: 48px;

    @extend %ubuntu-medium;
  }
  &__text-item {
    color: $white;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    white-space: nowrap;
    padding-right: 48px;
    margin-bottom: 32px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      border-bottom: 2px solid $orange;
      width: 100%;
      top: 32px;
    }
  }
  &__circle {
    width: 320px;
    height: 320px;
    border: 3px solid $orange;
    border-radius: 320px;
    text-align: center;
    color: $white;
  }
  &__info-item:nth-child(odd) {
    margin: 30px 0;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
  }
  &__info-item:nth-child(2) {
    color: $orange;
    font-weight: bold;
    font-size: 100px;
    line-height: 122px;
    letter-spacing: 0.05em;
  }
}
