@import '../constants';
@import '../vars';

.services {
  background-color: $black;
  padding: 100px 0;
  &__title {
    color: $white;
    text-align: center;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    &-line {
      border-bottom: 3px solid $orange-light;
      margin: 20px auto 64px;
      width: 300px;
    }
  }
  &__inner {
    display: grid;
    grid-template-areas: 'works list';
    justify-content: center;
    column-gap: 25px;
  }
  &__works {
    grid-area: works;
  }
  &__works-0 {
    background-image: url('../../img/finishing.png');
  }
  &__works-1 {
    background-image: url('../../img/house.png');
  }
  &__works-2 {
    background-image: url('../../img/electrician.jpg');
  }
  &__works-3 {
    background-image: url('../../img/plumbing.png');
  }
  &__works-0,
  &__works-1,
  &__works-2,
  &__works-3 {
    background-position: center;
    width: 386px;
    height: 177px;
    border: 4px solid $orange-light;
    border-radius: 5px;
    transition: all 0.3s;
  }
  &__works-0,
  &__works-1,
  &__works-2 {
    margin-bottom: 8px;
  }
  &__works-0:hover,
  &__works-1:hover,
  &__works-2:hover,
  &__works-3:hover {
    cursor: pointer;
    background: linear-gradient(to top right, $gray-black, $silver-gray 40%);
  }
  &__works-title {
    color: $white;
    text-align: center;
    margin-top: 70px;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.05em;
  }
  &__works-icon {
    margin: 30px 10px 0;
  }
  &__list {
    grid-area: list;
    width: 550px;
    background-color: $silver-gray;
    border: 4px solid $orange-light;
    border-radius: 5px;
    &-title {
      font-size: 26px;
      line-height: 29px;
      letter-spacing: 0.05em;
      color: $orange-light;
      text-align: center;
      margin: 40px 0 50px;
    }
    & ul {
      display: table;
      margin: 0 auto;
    }
    &-item {
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.05em;
      color: $white;
      margin: 0 auto;
    }
  }
}

@media (max-width: 980px) {
  .services {
    padding: 50px 0;
    &__title-line {
      margin-bottom: 32px;
    }
    &__inner {
      column-gap: 12px;
    }
    &__works-0,
    &__works-1,
    &__works-2,
    &__works-3 {
      width: 300px;
      height: 130px;
    }
    &__works-title {
      margin-top: 40px;
      font-size: 18px;
    }
    &__works-icon {
      margin: 14px 10px 0;
    }
    &__list {
      width: 450px;
      &-title {
        font-size: 20px;
        margin: 20px 0 30px;
      }
      &-item {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 930px) {
  .services {
    &__title {
      margin-bottom: 14px;
    }
    &__title-line {
      margin-bottom: 32px;
    }
    &__sections {
      margin-top: 40px;
    }
  }
}

@media (max-width: 800px) {
  .services {
    padding: 30px 0;
    &__inner {
      column-gap: 8px;
    }
    &__works-0,
    &__works-1,
    &__works-2,
    &__works-3 {
      width: 200px;
      height: 112px;
    }
    &__works-title {
      margin-top: 35px;
      font-size: 18px;
    }
    &__works-icon {
      display: none;
    }
    &__list {
      width: 300px;
      &-title {
        font-size: 20px;
      }
      &-item {
        font-size: 16px;
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 720px) {
  .services {
    padding: 30px 0;
    &__title {
      margin-bottom: 8px;
    }
    &__title-line {
      margin-bottom: 14px;
    }
  }
}

@media (max-width: 550px) {
  .services {
    &__works-0,
    &__works-1,
    &__works-2,
    &__works-3 {
      width: 160px;
      height: 100px;
    }
    &__works-title {
      margin-top: 30px;
      font-size: 14px;
    }
    &__list {
      width: 250px;
      &-title {
        font-size: 16px;
      }
      &-item {
        font-size: 14px;
        margin-left: 6px;
        line-height: 20px;
      }
    }
  }
}
@media (max-width: 420px) {
  .services__list {
    width: 200px;
  }
}
@media (max-width: 415px) {
  .services {
    padding: 5px 0;
  }
}
@media (max-width: 370px) {
  .services {
    &__inner {
      column-gap: 6px;
    }
    &__works-0,
    &__works-1,
    &__works-2,
    &__works-3,
    &__list {
      border: 2px solid $orange-light;
    }
    &__list {
      width: 190px;
      &-title {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 325px) {
  .services {
    &__list {
      display: none;
    }
    &__title-line {
      width: 180px;
    }
  }
}
