@import '../constants';
@import '../vars';

.top {
  background-image: linear-gradient(rgba(10, 10, 10, 0.5), rgba(5, 5, 5, 0.4)),
    url('../../img/top.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100vw;
  height: 100vh;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    text-transform: uppercase;
    padding-top: 30vh;
  }
  &__title-1,
  &__title-2,
  &__title-3,
  &__title-4,
  &__title-5,
  &__title-6 {
    text-shadow: -5px -4px 2px rgba(2, 2, 2, 0.95);

    @extend %sf-semibold;
  }
  &__title-1,
  &__title-4,
  &__title-5,
  &__title-6 {
    color: white;
  }
  &__title-1 {
    font-size: 48px;
    margin: 0 0 50px;
    letter-spacing: 6px;
  }
  &__title-2 {
    font-size: 44px;
    color: #ff7a00;
    margin: 0 90px 50px;
    letter-spacing: 3px;
  }
  &__title-3 {
    font-size: 42px;
    color: #ff7a00;
    letter-spacing: 2px;
    margin-bottom: 50px;
    margin-left: 10px;
  }
  &__title-4 {
    font-size: 40px;
    margin: 0 20px 0 0;
  }
  &__title-5 {
    font-size: 40px;
    margin: 0 0 0 30px;
  }
  &__title-6 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
  }
  &__title-text {
    display: inline-block;
    color: $white;
    background-color: green;
    letter-spacing: 1px;
    padding: 6px 12px;
    margin-left: 60px;
    border-radius: 6px;
    @extend %sf-regular;
  }
  &__blocks {
    display: flex;
    flex-direction: column;
    color: $white;
    max-width: 45%;
    padding-top: 50vh;
    & h4 {
      color: $white;
      font-size: 20px;
      letter-spacing: 2px;
      background-color: $background;
      width: min-content;
      margin: 0 0 6px 0;
      padding: 6px;
      border-radius: 6px;
    }
  }
  &__block-1 {
    margin-bottom: 30px;
  }
  &__block-item {
    display: inline-block;
    font-size: 20px;
    color: $silver-gray;
    background-color: #fd8f04;
    width: min-content;
    margin: 2px;
    padding: 2px;
    border-radius: 6px;
    white-space: nowrap;
  }
}

@media (max-width: 950px) {
  .top {
    &__inner {
      display: flex;
      justify-content: space-between;
    }
    &__title {
      padding-top: 26vh;
    }
    &__title-1 {
      font-size: 42px;
    }
    &__title-2 {
      font-size: 38px;
    }
    &__title-3 {
      font-size: 36px;
    }
    &__title-4 {
      font-size: 34px;
    }
    &__title-5 {
      font-size: 34px;
    }
    &__title-6 {
      font-size: 24px;
    }
    &__blocks {
      align-items: center;
      padding-top: 25vh;
    }
  }
}

@media (max-width: 860px) {
  .top {
    &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__title {
      padding-top: 22vh;
    }

    &__title-1 {
      font-size: 38px;
      margin: 0 0 34px;
    }
    &__title-2 {
      font-size: 34px;
      margin: 0 60px 34px;
    }
    &__title-3 {
      font-size: 32px;
      margin-bottom: 34px;
      margin-left: 10px;
    }
    &__title-4 {
      font-size: 30px;
      margin: 0 20px 0 0;
    }
    &__title-5 {
      font-size: 30px;
      margin: 0 0 0 30px;
    }
    &__title-6 {
      font-size: 20px;
      text-align: center;
      margin-bottom: 34px;
    }
    &__blocks {
      flex-direction: row;
      align-items: flex-start;
      max-width: 90%;
      padding-top: 0;
      margin-top: 5vh;
      & h4 {
        font-size: 18px;
        margin: 0 0 2px 0;
      }
    }
    &__title-text {
      margin-left: 20px;
    }
    &__block-1 {
      margin-right: 10px;
    }
    &__block-item {
      font-size: 18px;
      margin: 1px;
    }
  }
}
@media (max-width: 580px) {
  .top {
    &__title-1 {
      font-size: 30px;
      margin: 0 0 22px;
    }
    &__title-2 {
      font-size: 29px;
      margin: 0 60px 22px;
    }
    &__title-3 {
      font-size: 26px;
      margin-bottom: 22px;
    }
    &__title-4 {
      font-size: 24px;
      margin: 0 20px 0 0;
    }
    &__title-5 {
      font-size: 24px;
      margin: 0 0 0 22px;
    }
    &__title-6 {
      margin-bottom: 12px;
    }
    &__title-text {
      display: none;
    }
  }
}
@media (max-width: 480px) {
  .constainer {
    display: none;
  }
  .top {
    &__block-item {
      white-space: pre-wrap;
    }
  }
}
