$black: #0f0f0f;
$background: #232323;
$gray: #3d3d3d;
$silver-gray: rgb(23, 26, 28);
$gray-black: #1c1d1e;
$orange: #fe5f1e;
$orange-light: #ff7a00;
$yellow: #fd8f04;
$redup: #ff3209;
$white: #e0e0e0;

$container-width: 90%;

$duration: 0.15s;
