/** @format */

@import 'fonts';
@import 'constants';
@import 'libs/normalize';

@import 'components/all';

.container {
  width: calc(100vw - 100px);
  height: 100%;
  margin: 0px auto;
  max-width: 1280px;
}
