/** @format */

@import 'fonts';
@import 'constants';
@import 'libs/normalize';

@import 'components/all';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: calc(100vw - 100px);
  min-width: 400px;
  height: 100%;
  margin: 0px auto;
  max-width: 1280px;
}
